
@{
    ViewBag.Title = "Hardware Simulator";
}

<div class="row">
    <div class="col-md-1">@Html.Partial("_FileList")</div>
    <div class="col-md-6">6</div>
    <div class="col-md-5">5</div>
</div>

