

<div id="fileTypePicker" class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="GetExistingFiles('.hdl')">.hdl</button>
        <button class="btn btn-default" type="button" onclick="GetExistingFiles('.tst')">.tst</button>
        <button class="btn btn-default" type="button" onclick="GetExistingFiles('.cmp')">.cmp</button>
    </span>
</div>
<div id="newFileGroup" class="input-group">
    <input id="newFileName" class="form-control" />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="newfile()">+</button>
    </span>
</div>

<div id="existingFiles">
    <ul id="fileListing"></ul>
</div>

<script type="text/javascript">
    function newfile() {
        var fileName = $("#newFileName").val();
        $.ajax({
            type: 'POST',
            url: '/api/SourceFiles',
            datatype: 'json',
            data: { FileName: fileName },

            statusCode: {
                201: function (data) {
                    GetExistingFiles();
                    $("#newFileName").val("");
                }
            },
            error: function (data) {
                alert("error");
            }
        })
    }


    function GetExistingFiles(filetype)
    {
        $("#fileListing").empty();
        $("#fileListing").append('<img src="../../Content/images/ajax-loader.gif" alt="" />');
        $.ajax({
            type: 'GET',
            url: 'api/SourceFiles',
            datatype: 'json',
            success: function (data) {                
                $("#fileListing").empty();
                $.each(data, function (i, item) {
                    if (item.FileName.indexOf(filetype) > -1) {
                        if(filetype == ".hdl")
                            $("#fileListing").append('<li onclick="loadFile(' + item.id + ')">' + item.FileName + "</li>");
                        else
                            if(filetype == ".tst")
                                $("#fileListing").append('<li onclick="loadTestFile(' + item.id + ')">' + item.FileName + "</li>");
                    }
                });
            }

        });
    }


    $(document).ready(function () {
        //GetExistingFiles();
    });

</script>


