

<div id="fileTypePicker" class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="fileExtensionFilter = '.hdl'">.hdl</button>
        <button class="btn btn-default" type="button" ng-click="fileExtensionFilter = '.tst'">.tst</button>
        <button class="btn btn-default" type="button" ng-click="fileExtensionFilter = '.cmp'">.cmp</button>
    </span>
</div>


<div>
    <ul>
        <li ng-repeat="sf in sourceFileData | filter:{FileName :fileExtensionFilter}" ng-click="selectFile(sf)">{{sf.FileName}}</li>
    </ul>
</div>


<form class="input-group" ng-submit="newFileSubmit()" name="newFileForm">
    <input class="form-control"
           type="text"
           placeholder="New File Name"
           ng-model="newFileName"
           required>
    <span class="input-group-btn">
        <button class="btn btn-default"
                type="submit"
                ng-disabled="newFileForm.$invalid">
            +
        </button>
    </span>
</form>




