

<div id="testStatusArea" class="input-group">
    <img src="../../Content/images/ajax-loader.gif" alt="" id="testStatusSpinner" hidden />

    <table id="testStatusTable" class="table table-responsive table-striped text-center">
        <tr>
            <th>Test</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="testCase in testCases">
            <td ng-click="selectTestCase(testCase.test)">Test {{$index}}</td>
            <td><span class='glyphicon glyphicon-cog glyph-blue' ng-show="testCase.result == ''"></span></td>
            <td><span class='glyphicon glyphicon-ok glyph-green' ng-show="testCase.result == 'Pass'"></span></td>
            <td><span class='glyphicon glyphicon-remove glyph-red' ng-show="testCase.result == 'Fail'"></span></td>
        </tr>
    </table>
    <textarea id="singleTestCase" class="input-lg" ng-model="selectedTestCase"></textarea>
</div>


@*<script type="text/javascript">

    var testCaseTexts;

    function populateStatusTable(testScript)
    {
        $("#singleTestCase").text('');
        $("#testStatusTable").empty();
        $("#testStatusTable").append("<tr><th>Test</th><th>Status</th></tr>");

        testCaseTexts = testScript.split(';');

        var i;
        for (i = 1; i < testCaseTexts.length - 1; i++) {
            $("#testStatusTable").append("<tr onClick='showTestCase(" + i + ")'><td>Test " + i + "</td><td><span id='testCase" + i + "' class='glyphicon glyphicon-cog glyph-blue'></span></td></tr>");
            testCaseTexts[i] = testCaseTexts[i].replace(/^\s+|\s+$/g, "");
        }
    }

    function showTestCase(i)
    {
        $("#singleTestCase").text(testCaseTexts[i]);
    }

    function passTest(testcase) {
        testcase.removeAttribute('class');
        testcase.setAttribute('class', 'glyphicon glyphicon-ok glyph-green');
    }

    function failTest(testcase) {
        testcase.removeAttribute('class');
        testcase.setAttribute('class', 'glyphicon glyphicon-remove glyph-red');
    }


</script>*@



